<html>
<head>
	<title>Demande confirmée : Obtenir mes infos</title>
</head>
<body>
<h1>
	<img src="{{amiLogoPath}}" alt="Access My Info" width="320" height="108" />
</h1>
<p>Votre demande &agrave; {{operator_title}} a &eacute;t&eacute; v&eacute;rifi&eacute;e.</p>

<p>Dans environ 30 jours, nous v&eacute;rifierons si vous avez re&ccedil;u une r&eacute;ponse de {{operator_title}}.</p>

<p>Apr&egrave;s environ 60 jours, nous vous demanderons de la r&eacute;troaction sur la fa&ccedil;on dont votre demande s&rsquo;est d&eacute;roul&eacute;e.</p>

<p>Nous vous rappelons que vous pouvez vous d&eacute;sabonner &agrave; n&rsquo;importe quel moment ici&nbsp;: <a style="color: #9d0003; font-weight:bold" href="{{unsubscribeURL}}">{{unsubscribeURL}}</a></p>
</body>
</html>