<html>
<head>
	<title>誰手可得</title>
</head>
<body>
<h1>
	<img src="{{amiLogoPath}}" alt="誰手可得" width="320" height="108" />
</h1>
<p style="font-weight: bold;">您向 {{operator_title}}的查閱資料要求已獲驗證。</p>

<p>我們將在約四十天後，登入並查看您有否收到來自{{operator_title}}的回覆。</p>

<p>我們將在約八十天後，查詢並跟進您的查閱資料要求進度。</p>

<p>請注意，如您希望停止收到我們的跟進電郵，請按：<a style="color: #008876;" href="{{unsubscribeURL}}">{{unsubscribeURL}}</a></p>
</body>
</html>