<html>
<head>
	<title>Confirmez votre demande : Obtenir mes infos</title>
</head>
<body>
<h1>
	<img src="{{amiLogoPath}}" alt="Access My Info" width="320" height="108" />
</h1>
<p>Merci d&rsquo;avoir g&eacute;n&eacute;r&eacute; une demande &agrave; {{operator_title}} en utilisant OMI. Pour confirmer votre demande avec nous et pour vous abonner &agrave; des notifications par courriel qui vous guideront dans le processus de demande, veuillez confirmer votre adresse courriel ici&nbsp;: <a style="font-weight:bold; color: #9d0003;" href="{{verificationURL}}">{{verificationURL}}</a>.
<p>Vous pouvez aussi vous d&eacute;sabonner des notifications ici : <a style="color: #9d0003; font-weight:bold" href="{{unsubscribeURL}}">{{unsubscribeURL}}</a>.</p>
</body>
</html>