<html>
<head>
	<title>A message from Access My Info</title>
</head>
<body>
<h1>
	<img src="{{amiLogoPath}}" alt="Access My Info" width="320" height="108" />
</h1>
<p>Thank you for using Access My Info to request your personal data from {{operator_title}}.</p>

<p>You are receiving this message because you opted in to receiving communications from the Access My Info team. This team involves researchers from Open Effect and the Citizen Lab at the University of Toronto.</p>

<p>We are researching how companies respond to Access My Info requests and want to get a sample of a wide range of different companies. We are contacting you because we are interested in your experience requesting from {{operator_title}}.</p>

<p>We would like to obtain records of your email correspondence with {{operator_title}} and any documents that {{operator_title}} has sent to you. This will help us understand {{operator_title}}’s practices and see how they compare to other companies.</p>

<p><strong>If you are interested in participating in this research please click here to learn more: <a style="color: #9d0003; font-weight:bold" href="https://goo.gl/forms/JW95SSYsoaXBTCPG2">https://goo.gl/forms/JW95SSYsoaXBTCPG2</a></strong></p>

<p>After having provided us a copy of any documents {{operator_title}} has provided to you, you will be entered for a random draw for a <strong>$50 Amazon.ca gift eCard</strong>. That draw will take place at the completion of the research study. </p>

<p>Best regards,
<br>Andrew Hilts 
<br>Executive Director Open Effect 
<br>Research Fellow, Citizen Lab, University of Toronto
<br>andrew@openeffect.ca</p>

 <p>Please keep in mind you can unsubscribe from AMI notifications at any time here <a style="color: #9d0003; font-weight:bold" href="{{unsubscribeURL}}">{{unsubscribeURL}}</a>.</p>